@media only screen and (max-width: 820px) {
	canvas {
		width: 100%;
	}

	.turnPhoneScreen {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;
		background-color: black;
	}

	.turnPhoneScreen img {
		width: 100%;
		max-width: 400px;
		height: auto;
	}

	.wrapper {
		width: 100%;
		height: unset;
	}

	#fullscreenContainer {
		width: 100%;
	}
}

@media only screen and (max-height: 700px) {
	h1 {
		display: none;
	}
}

@media only screen and (max-height: 480px) {
	canvas {
		height: 100vh;
		border-radius: unset !important;
	}

	p {
		font-size: 20px;
	}

	h2 {
		margin-bottom: 20px;
		font-size: 30px;
	}

	table {
		border-spacing: 0px;
	}

	table span {
		font-size: 20px;
	}

	.wrapper {
		height: 100vh !important;
		border-radius: unset !important;
	}

	.btn-container img {
		height: 30px;
		width: 30px;
	}

	.in-game-btn-container img {
		height: 25px;
		width: 25px;
	}

	.left-right-btn img {
		width: 40px;
		height: 40px;
	}

	#btnMobileSpace {
		width: 50px;
	}

	#btnMobileBottle {
		width: 60px;
	}
}

@media only screen and (max-device-height: 390px) and (max-device-width: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
	.in-game-btn-container img {
		height: 25px !important;
		width: 25px !important;
	}


	#btnMobileSpace {
		width: 50px;
	}

	#btnMobileBottle {
		width: 60px;
	}
}

@media only screen and (max-height: 300px) {
	.btn-container img {
		height: 20px;
		width: 20px;
	}

	.in-game-btn-container img {
		height: 20px;
		width: 20px;
	}

	.left-right-btn img {
		width: 25px;
		height: 25px;
	}

	#btnMobileSpace {
		width: 40px;
	}

	#btnMobileBottle {
		width: 50px;
	}

	.btnRestart {
		height: 40px;
		width: 144px;
		padding: 0;
	}

	.btnMainMenu {
		height: 40px;
		width: 144px;
		padding: 0;
	}

	.gameOverBtnContainer {
		margin-top: -60px;
	}

	.winScreenContainer h2 {
		font-size: 30px;
	}

	.in-game-btn-container img {
		height: 15px !important;
		width: 15px !important;
	}
}

@media (hover: hover) {
	.btn-container img:hover {
		transition: all 125ms ease-in-out;
		transform: scale(1.2);
	}

	.in-game-btn-container img:hover {
		transition: all 125ms ease-in-out;
		transform: scale(1.2);
	}

	.arrowBack:hover {
		transition: all 125ms ease-in-out;
		transform: scale(1.2) rotate(180deg);
	}

	.btnRestart:hover {
		transition: all 125ms ease-in-out;
		transform: scale(1.05);
	}

	.btnMainMenu:hover {
		transition: 125ms ease-in-out;
		transform: scale(1.05);
	}
}
