* {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	font-family: "zabars", Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
}

#fullscreenContainer {
	display: flex;
	justify-content: center;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 15px;
	box-shadow: 5px 5px 15px 5px #000000;
	height: 480px;
	width: 820px;
	overflow: hidden;
}

canvas {
	display: block;
	background-color: black;
	border-radius: 15px;
}

h1 {
	text-align: center;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	font-size: 60px;
	letter-spacing: 4px;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

h2 {
	font-size: 35px;
	margin-bottom: 40px;
	text-align: center;
}

p {
	font-size: 22px;
}

.canvas-overlay {
	display: inline;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
}

.startScreenContainer {
	display: flex;
	width: 100%;
	height: 100%;
}

.startScreenContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn-container {
	position: absolute;
	top: 13px;
	right: 20px;
}

.btn-container img {
	height: 40px;
	width: 40px;
	margin-left: 15px;
	cursor: pointer;
}

.in-game-btn-container {
	position: absolute;
	top: 13px;
	right: 20px;
	z-index: 2;
}

.in-game-btn-container img {
	height: 35px;
	width: 35px;
	margin-left: 15px;
	cursor: pointer;
}

.arrowBack {
	position: absolute;
	right: 40px;
	top: 20px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transform: rotate(180deg);
}

.controlBtnsDesc {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10rem;
	margin-bottom: 30px;
}

.canvasFullScreen {
	width: 100%;
	height: 100%;
}

.btnMobile {
	width: 40px;
}

#btnMobileBottle {
	width: 80px;
	transform: rotate(30deg);
}

#btnMobileSpace {
	width: 60px;
}

#mobileBtns {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 1;
	user-select: none;
}

#mobileBtns img {
	margin-left: 15px;
	margin-right: 15px;
}

.left-right-btn {
	margin-top: 10px;
}

.left-right-btn img {
	height: 40px;
	width: 40px;
}

.gameOverScreenContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.winScreenContainer {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.82);
}

.winScreenContainer h2 {
	position: absolute;
	font-size: 45px;
	margin: 0 0 50px;
	top: 30px;
	right: 0;
	left: 0;
	color: #ffcc00;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.taco {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.taco img {
	width: 60%;
	max-width: 200px;
	height: auto;
}

.winBtnContainer {
	position: absolute;
	align-items: flex-end !important;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0 30px 25px 30px;
}

.gameOverScreen {
	height: 100%;
	width: 100%;
}

.gameOverBtnContainer {
	margin-top: -78px;
	margin-left: 30px;
	margin-right: 30px;
}

.containerGameControls {
	background-color: rgb(255, 166, 0);
	height: 100%;
	min-width: 100%;
}

.containerGameDesc {
	background-color: rgb(255, 166, 0);
	height: 100%;
	min-width: 100%;
	overflow-y: auto;
}

table {
	width: 80%;
	max-width: 500px;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0 15px;
}

tr {
	text-align: center;
	vertical-align: middle;
}

td span {
	font-size: 26px;
}

td:nth-child(2) {
	font-size: 24px;
	text-align: left;
	padding-left: 20%;
}

.btnRestart {
	background-color: #ffcc00;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	height: 50px;
	width: 180px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "zabars";
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 20px;
	color: black;
	box-shadow: 2px 2px 10px 2px #000000;
	cursor: pointer;
}

.btnMainMenu {
	background-color: #ffcc00;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	height: 50px;
	width: 180px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "zabars";
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 20px;
	color: black;
	box-shadow: 2px 2px 10px 2px #000000;
	cursor: pointer;
}

/* Help Classes */

.d-none {
	display: none !important;
}

.rotate180 {
	transform: rotate(180deg);
}

.rotate90 {
	transform: rotate(90deg);
}

.paddingDesc {
	padding: 30px 50px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-btw {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fullscreenMode {
	border-radius: unset !important;
	width: 100%;
}

/* Loading Screen */

.center {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.ring {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	animation: ring 2s linear infinite;
}

@keyframes ring {
	0% {
		transform: rotate(0deg);
		box-shadow: 1px 5px 2px #ff9701;
	}

	50% {
		transform: rotate(180deg);
		box-shadow: 1px 5px 2px #a7b622;
	}

	100% {
		transform: rotate(360deg);
		box-shadow: 1px 5px 2px #e6426d;
	}
}

.ring:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.loadingText {
	color: #737373;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 200px;
	animation: text 3s ease-in-out infinite;
}

@keyframes text {
	50% {
		color: black;
	}
}
