* {
    box-sizing: border-box;
    margin: 0;

    @font-face {
        font-family: 'zabars';
        src: url('fonts/Zabars.ttf') format('truetype');
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/2110.w023.n001.1221B.p1.1221.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#fullscreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

canvas {
    background-color: black;
    border-radius: 15px;
    z-index: 1;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    font-size: 60px;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}

h2 {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: center;
}

span {
    font-size: 22px;
}

.canvas-overlay {
    width: 820px;
    height: 480px;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.startScreenContainer {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.startScreenContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-container {
    position: absolute;
    top: 13px;
    right: 20px;
}

.btn-container img {
    height: 40px;
    width: 40px;
    margin-left: 15px;
    cursor: pointer;
}

.btn-container img:hover {
    transition: all 225ms ease-in-out;
    transform: scale(1.2);
}

.in-game-btn-container {
    position: absolute;
    top: 13px;
    right: 20px;
    z-index: 2;
}

.in-game-btn-container img {
    height: 35px;
    width: 35px;
    margin-left: 15px;
    cursor: pointer;
}

.in-game-btn-container img:hover {
    transition: all 225ms ease-in-out;
    transform: scale(1.2);
}

.arrowBack {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.arrowBack:hover {
    transition: all 225ms ease-in-out;
    transform: scale(1.2);
}

.controlBtnsDesc {
    display: flex;
    align-items: center;
    justify-content: space-center;
    gap: 200px;
    margin-bottom: 30px;
}

.canvasFullScreen {
    width: 100%;
    height: 100%;
}

.btnMobile {
    width: 40px;
}

#btnMobileBottle {
    width: 80px;
    transform: rotate(30deg);
}

#btnMobileSpace {
    width: 60px;
}

#mobileBtns {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
}

#mobileBtns img {
    margin-left: 15px;
    margin-right: 15px;
}

.left-right-btn {
    height: 40px;
    margin-top: 10px;
}


/* Fullscreen Mode Classes */

.fullscreenMode {
    border-radius: unset !important;
}


/* Help Classes */

.d-none {
    display: none !important;
}

.rotate180 {
    transform: rotate(180deg);
}

.padding20 {
    padding: 20px;
}

.bg-color {
    background-color: rgba(255, 166, 0, 0.445);
}